@font-face {
  font-family: Vazir;
  src: url(assets/fonts/Vazir.woff2);
  font-weight: normal;
}

* {
  font-family: Vazir, "Segoe UI", Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Vazir !important;
  margin-top: 0 !important;
}

ol, ul {
  list-style-type: none;
}

a {
  color: #444;
}

a:hover {
  color: #ffea00;
}

header * {
  color: #f5f5f5;
}

header .font-range {
  direction: ltr;
}

.user-color {
  min-width: 50px;
  aspect-ratio: 1;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-size: 900;
  cursor: pointer;
}

.color-one {
  background-color: yellow;
  color: #222;
}

.color-two {
  background-color: #222;
  color: yellow;
}

.user-mirror, .user-direction {
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

main {
  margin: 10px;
}

main .user-text {
  direction: rtl;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-size: 24px;
  font-weight: 900;
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  max-width: 900px;
  border-radius: 10px;
  border: none;
  background-color: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-mirror {
  transform: scale(-1, 1);
}

.add-ltr {
  direction: ltr !important;
}

.navbar-dark .navbar-toggler {
  border: 2px solid #bbb;
}
