@import "_variable";
@import "_reboot";

body {
    background: url('assets/images/mountain-night.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.header {
    font-size: 42px;
    color: $text-l;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
        font-size: 26px;
        margin-bottom: 20px;
    }
}

.sec-container {
    * {
        color: $text-l;
    }
    justify-content: center;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    .sec-container-item-block {
        width: 25%;
        padding: 10px;
    }
    .sec-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0 ,0, 0, 0.3);
        border-radius: $border-radius;
        width: 100%;
        padding: 15px 25px;
        box-shadow: 0px 2px 10px #000;
        .sec-number {
            font-size: 52px;
            font-weight: 900;
        }
        .sec-text {
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 768px) {
    .sec-container {
        flex-direction: column;
        .sec-container-item-block {
            width: 100%;
        }
        .sec-sec {
            flex-direction: row;
            .sec-number {
                width: 50%;
            }
            .sec-text {
                width: 50%;
            }
        }
    }
}