$primary-color: #ffea00;
$primary-color-hover: #f5e000;
$secondary-color: #FFB037;
$bg-d: #020222;
$bg-l: #fff;
$text-d: #444;
$text-d-hover: #222;
$text-d-mute: #888;
$text-l: #f5f5f5;
$text-l-hover: #fff;
$border: 1px solid #c2c2c2;
$border-radius: 10px;
$shadow: 0px 2px 10px #d7d7d7;
$gradient: linear-gradient(to bottom, $primary-color, $primary-color-hover);