* {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
}

ol, ul {
  list-style-type: none;
}

a {
  color: #444;
}

a:hover {
  color: #ffea00;
}

.material-icons {
  color: #444;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  position: relative;
  max-width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
}

body .header-block {
  height: 70px;
  display: flex;
  border-bottom: 1px solid #c2c2c2;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
  padding: 20px;
}

body .header-block .clear {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  color: #444;
  cursor: pointer;
  transition: background-color .5s;
}

body .header-block .clear:hover {
  background-color: #ffea00;
}

body .main-block {
  overflow-y: auto;
  height: calc(80vh - 145px);
}

body .main-block::-webkit-scrollbar {
  width: 5px;
}

body .main-block::-webkit-scrollbar-track {
  background-color: transparent;
}

body .main-block::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

body .main-block .list-empty {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
}

body .main-block .list-empty h3 {
  text-align: center;
}

body .main-block .list-empty img {
  display: block;
  margin: 10px auto;
  margin-top: 40px;
  max-width: 150px;
}

body .main-block li {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

body .main-block li .item-done {
  margin-right: 10px;
  cursor: pointer;
}

body .main-block li .item-text {
  font-size: 16px;
}

body .main-block li .item-delete {
  margin-left: auto;
  cursor: pointer;
  transition: color .5s;
}

body .main-block li .item-delete:hover {
  color: #f90000;
}

body footer {
  margin-top: auto;
}

body .footer-block {
  height: 70px;
  padding: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  border-top: 1px solid #c2c2c2;
  background-color: #fff;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

body .footer-block .add-task {
  background-color: transparent;
  border-radius: 50%;
  font-size: 42px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color .5s;
}

body .footer-block .add-task:hover {
  background-color: #ffea00;
}

body .footer-block input {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  transition: border .5s;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    max-width: 100%;
    height: 100vh;
  }
  body .header-block {
    border-radius: 0px;
  }
  body .main-block {
    height: calc(100vh - 145px);
  }
  body .footer-block {
    margin-top: auto;
    border-radius: 0;
  }
}
