@import "_variable";
@import "_reboot";

html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: $border-radius;
    border: $border;
    padding: 30px 20px;
}
.search-block {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .search-input {
        width: 100%;
        font-size: 1.2rem;
        margin-right: 20px;
        padding: 5px 10px;
        border: $border;
        border-radius: $border-radius;
        &:focus {
            border: 1px solid #777;
        }
    }
    .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border: none;
        padding: 10px;
        border-radius: $border-radius;
        cursor: pointer;
        &:hover {
            background-color: $primary-color-hover;
        }
    }
}

.error-display {
    color: #ce1212;
}

.weather-block {
    margin-top: 20px;
    hr{
        margin: 15px 0px;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    .weather-more-data {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .more-data-item {
        color: $text-d-mute;
        margin-top: 5px;
        span {
            color: $text-d;
            font-weight: 900;
        }
    }
    .weather-city {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 20px;
    }
    .weather-temp {
        display: inline-block;
        font-size: 2rem;
    }
}