@import "_variable";
@import "_reboot";

.material-icons {
    color: $text-d;
}
html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    position: relative;
    max-width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: $border;
    border-radius: $border-radius;
    .header-block {
        height: 70px;
        display: flex;
        border-bottom: $border;
        justify-content: space-between;
        margin-top: auto;
        align-items: center;
        padding: 20px;
        .clear {
            padding: 10px;
            border-radius: 50%;
            border: $border;
            color: $text-d;
            cursor: pointer;
            transition: background-color .5s;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
    .main-block {
        overflow-y: auto;
        height: calc(80vh - 145px);
        // change scrollbar
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #bbb;
        }
        .list-empty {
            display: flex;
            width: 100%;
            margin-top: 50px;
            flex-direction: column;
            h3 {
                text-align: center;
            }
            img {
                display: block;
                margin: 10px auto;
                margin-top: 40px;
                max-width: 150px;
            }
        }

        li {
            padding: 15px 20px;
            border-bottom: 1px solid#ddd;
            display: flex;
            align-items: center;
            
            .item-done {
                margin-right: 10px;
                cursor: pointer;
            }
            .item-text {
                font-size: 16px;
            }
            .item-delete {
                margin-left: auto;
                cursor: pointer;
                transition: color .5s;
                &:hover {
                    color: #f90000; 
                }
            }
        }
    }
    footer {
        margin-top: auto;
    }
    .footer-block {
        height: 70px;
        padding: 20px;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        border-top: $border;
        background-color: $bg-l;
        align-items: center;
        border-radius: 0 0 $border-radius $border-radius;
        .add-task {
            background-color: transparent;
            border-radius: 50%;
            font-size: 42px;
            margin-right: 20px;
            cursor: pointer;
            transition: background-color .5s;
            &:hover {
                background-color: $primary-color;
            }
        }
        input {
            border: none;
            padding: 5px 10px;
            background-color: transparent;
            // border-bottom: 1px solid $text-l;
            width: 100%;
            font-size: 20px;
            transition: border .5s;
            &:focus {
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        max-width: 100%;
        height: 100vh;
        .header-block {
            border-radius: 0px;
        }
        .main-block {
            height: calc(100vh - 145px);
        }
        .footer-block {
            margin-top: auto;
            border-radius: 0;
        }
    }
}